@import 'colors.css';

* {
    box-sizing: inherit;
    color: var(--color-gray-dark);
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 320px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    padding: 1rem 3rem;
}

header {
    background-color: var(--color-accent1-light);
}

header h1 {
    margin: 1rem auto;
    text-align: center;
}

main {
    margin: 3rem auto;
}

footer {
    background-color: var(--color-gray-light);
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

select {
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
}

section {
    margin-top: 3rem;
}

section ul {
    margin-left: 0;
    list-style: none;
    background-color: var(--color-gray-light);
    border-top: .25rem solid var(--color-accent2);
}

section li {
    padding: 1rem;
    margin: 0;
    border-bottom: .1rem solid var(--color-gray);
}

section h2 {
    text-align: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.hidden, select[disabled] {
    display: none;
}

.message {
    margin: 1.5rem 0;
    padding: .5rem .75rem;
}

.message::before {
    margin-right: .5rem;
    font-weight: bold;
}

.warning {
    color: var(--color-warning-dark);
    background-color: var(--color-warning-light);
}

.warning::before {
    content: '\26A0';
}

.stop-id {
    font-size: 1rem;
    display:block;
    padding-top: .5rem;
}

@media only screen and (min-width: 600px) {
    main {
        min-width: 550px;
    }

    .stop-id {
        display: inline-block;
        font-size: 1rem;
        border-left: .2rem solid var(--color-gray-dark);
        padding: 0 0 0 .5rem;

        margin-left: .25rem;
    }
}

@media only screen and (min-width: 768px) {
    main {
        width: 700px;
    }
}

@media only screen and (min-width: 992px) {
    header h1 {
        text-align: left;
    }
}